boto3==1.35.10
boto3-stubs==1.35.13.post1
botocore==1.35.10
discord==2.3.2
flask==3.0.3
mypy-boto3-dynamodb==1.35.0
mypy-boto3-s3==1.35.2
numpy==2.1.1
requests==2.32.3
types-requests==2.32.4.20250611
pytest==8.3.3
pytest-asyncio==0.24.0
pytz==2024.1
waitress==3.0.1
packaging==24.2

git+https://github.com/Nixotica/NadeoEventAPIWrapper.git@490b1e65ff785686c28e1fdec2e260acad2879f4#egg=nadeo_event_api&subdirectory=nadeo_event_api

